@import "~mdb-ui-kit/css/mdb.min.css";
@import "~flatpickr/dist/flatpickr.min.css";
@import "~glightbox/dist/css/glightbox.min.css";
@import "~filepond/dist/filepond.min.css";
@import "~tail.select/css/default/tail.select-light.css";
@import "~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css";
@import "~quill/dist/quill.snow.css";

#sidenav {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#sidenav::-webkit-scrollbar {
    display: none;
    background: transparent;
}

#sidenav.active {
    left: 0;
}

.sidenav-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.sidenav-overlay.active {
    display: block;
    opacity: 1;
}

#centerCaption {
    transform: translateY(-60%);
    bottom: 0;
    top: 60%;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

#productImage {
    -webkit-transition: background-image 0.3s ease-in-out;
    -moz-transition: background-image 0.3s ease-in-out;
    -o-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;

    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    padding-top: 100%;
}

/* Modals Position */
@media (min-width: 768px) {
    .modal-dialog.modal-top {
        top: 0;
    }
    .modal-dialog.modal-left {
        left: 0;
    }
    .modal-dialog.modal-right {
        right: 0;
    }
    .modal-dialog.modal-bottom {
        bottom: 0;
    }
    .modal-dialog.modal-top-left {
        top: 10px;
        left: 10px;
    }
    .modal-dialog.modal-top-right {
        top: 10px;
        right: 10px;
    }
    .modal-dialog.modal-bottom-left {
        bottom: 10px;
        left: 10px;
    }
    .modal-dialog.modal-bottom-right {
        bottom: 10px;
        right: 10px;
    }
}

.modal-side {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 400px;
    margin: 0;
}

.ql-image {
    max-width: 100% !important;
    height: auto !important;
}

.bg-notification {
    background-color: #abdaf7;
}

.notification {
    transition: all 0.1s;
}
