#sidenav {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#sidenav::-webkit-scrollbar {
    display: none;
    background: transparent;
}

#sidenav.active {
    left: 0;
}

.sidenav-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.sidenav-overlay.active {
    display: block;
    opacity: 1;
}

#centerCaption {
    transform: translateY(-60%);
    bottom: 0;
    top: 60%;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

#productImage {
    -webkit-transition: background-image 0.3s ease-in-out;
    -moz-transition: background-image 0.3s ease-in-out;
    -o-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;

    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    padding-top: 100%;
}
